*{
    margin: 0px;
}
body{
    background-image: url(../img/fondoPokeballs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    min-height: 100vh;
}
.pokedex{                  /*Contenedor del pokedex*/
    margin: 15px auto;
    max-width: 1000px;
    height: 600px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);

}
header{                    /*Encabezado del pokedex*/
    max-width: 1000px;
    height: 50px;
    background-color: #ed1b24;
    /*background-color: #777777;*/
    border-radius: 15px 15px 0px 0px;
}
header>h1, .name-poke>H1{  /*Tiluto del encabezado, nombre pokemon*/
    display: inline-block;
}
label{
    margin: auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.icono{                    /*Icono del encabezado*/
    max-width: 30px;
    height: 30px;
    margin: 8px 5px 0px 15px;
}
main{                      /*centro del pokedex*/
    max-width: 1000px;
    height: 450px;
    position: relative;
    background: linear-gradient( to right, #bbbbbb,#9d9d9d);
}
.poke{                     /*Contenedor de la informacion del pokemon*/
    max-width: 400px;
    height: 400px;
    position: absolute;
    display: inline-block;
    left: 0px;
    margin: 25px 7%;
}
.name-poke{                /*Contenedor del nombre del pokemon*/
    max-width: 400px;
    height: 40px;
    background-color: #f6f6f6;
    margin: auto;
    border-radius: 10px;
}
.icono2{                   /*Icono de simbolo elemental del pokemon*/
    width: 30px;
    height: 30px;
    margin: 5px 5px 0px 60px;
}
.img-poke{                 /*Contenedor de la imagen del pokemon*/
    max-width: 400px;
    height: 360px;
    border-radius: 40px;
    animation-name: efecto;
    animation-duration: 10s;
    animation-iteration-count: infinite; 
}
@keyframes efecto {
    0%  {background-color: red;}
    20% {background-color: green;}
    40% {background-color: yellow;}
    60% {background-color: orange;}
    80% {background-color: blue;}
    100%{background-color: violet;}
}
.img{                      /*Imagen del pokemon*/
    max-width: 100%;
    height: 360px;
}
.estad-poke{               /*Contenedor de las estadisticas del pokemon*/
    max-width: 400px;
    height: 400px;
    background-color: #f6f6f6c7;
    position: absolute;
    display: inline-block;
    right: 0px;
    margin: 25px 7%;
    border-radius: 10px;
    box-shadow: 5px 5px 2px rgb(78, 78, 78);

}
.estad-poke>div{           /*Contenedor extra que divide las estadisticas en dos partes*/
    display: inline-block;
    width: 160px;
    margin: 0px 10px;
    padding: 70px 0px 0px;
}
.txt-bd{                   /*Diseño de los campos de texto de las estadisticas*/
    border: 1px solid transparent;
    background-color: transparent;
    color: black;
    width: 80px;
    height: 40px;
    font-size: 20px;
    display: block;
    margin: 0px auto 30px;
    text-align: center;
}
footer{                    /*Diseño del pie de pagina*/
    max-width: 1000px;
    height: 100px;
    background-color: #ed1b24;
    /*background-color: #f6f6f6;*/
    border-radius: 0px 0px 15px 15px;
    position: relative;
}
.cont-txt{                 /*Contenedor del texto OTHERS*/
    max-width: 350px;
    height: 100px;
    display: inline-block;
    position: absolute;
}
.cont-txt>h1{              /*Posicionamiento del texto OTHERS*/
    width: 350px;
    margin: 32px 0px;
    text-align: center;
}
.cont-btn{                 /*Contenedor de los botones*/
    display: inline-block;
    max-width: 640px;
    height: 100px;
    position: absolute;
    right: 0px;
}
.cont-btn>button{          /*Diseño de los botones*/
    width: 120px;
    height: 80px;
    margin: 10px 18px;
    cursor: pointer;
    border-radius: 15px;
    border-style: none none solid none;
    box-shadow: 5px 5px 2px rgb(78, 78, 78);
} 
.cont-btn>button:hover{    /*Diseño de la reaccion al pasar el mouse por los botones*/
    background-color: yellow;
    border-color: black;
    box-shadow: 5px 5px 2px rgb(255, 81, 0);
}
.cont-btn>button:active{   /*Diseño de la reaccion al dar click en los botones*/
    background-color: rgb(255, 196, 0);
    border-color: black;
    box-shadow: 5px 5px 2px rgb(255, 60, 0);}
.img-btn{                  /*Ajuste de tamaño de las imagenes en los botones*/
    max-width: 80px;
    height: 70px;
}

/*                PUNTOS DE QUIEBRE                 */

@media screen and (max-width:900px){
    .estad-poke, .poke{
        margin: 25px 5%;
    }
    .cont-btn>button{
        margin: 10px 12px;
    }
    .cont-txt{
        max-width: 250px;
    }
    .cont-txt>h1{
        width: 250px;
    }
}
@media screen and (max-width:814px){

    main{
        height: 740px;
    }
    .poke{
        position: absolute;
        display: block;
        top: 30px;
        right: 0px;
        margin: auto;
        z-index: 1;
    }
    .img-poke{
        animation: none;
    }
    .img{
        width: -webkit-fill-available; /*rellena el espacio disponible*/
    }
    .estad-poke{
        position: absolute;
        display: block;
        bottom: 27px;
        left: 0px;
        margin: auto;
        animation-name: efecto;
        animation-duration: 10s;
        animation-iteration-count: infinite;     
    }
    footer{    
        height: 300px;
    }
    .cont-txt{
        max-width: 1000px;
        display: block;
        position: initial;
    }
    .cont-txt>h1{
        max-width: 100%;
        margin: auto;
        padding: 20px 0px;
        text-align: center;
    }
    .cont-btn{
        display: block;
        max-width: 1000px;
        position: initial;
    }
    .cont-btn>button{
        width: 170px;
        height: 80px;
        margin: 10px 80px;
    }
}
@media screen and (max-width:658px){
    .cont-btn>button{
        width: 170px;
        height: 80px;
        margin: 10px 60px;
    }
}
@media screen and (max-width:606px){
    .cont-btn>button{
        margin: 10px 50px;
    }
}
@media screen and (max-width:566px){
    .cont-btn>button{
        margin: 10px 30px;
    }
}
@media screen and (max-width:488px){
    .cont-btn>button{
        margin: 10px 20px;
    }
}
@media screen and (max-width:446px){
    .cont-btn>button{
        width: 150px;
        margin: 10px 20px;
    }
}
@media screen and (max-width:384px){
    .cont-btn>button{
        width: 120px;
        margin: 10px 20px;
    }
}
